{% extends "base.html" %}
{% load django_markdown %}
{% load shuffle %}

{% block blog_entries %}
{% for object in object_list|shuffle %}
  <div class="post">
    <h2><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <p class="meta">
      {{ object.created }} |
      Created By {{ object.author }} |
	  Category {{ object.category}}
	<img src="{{object.image1.url}}" width="58%" height="278px"/>
	 
    {{ object.body|markdown }}
	 
  </div>
{% endfor %}
{% endblock %}
